.economy-container {
    display: flex;
    padding-top: 64px;

    .column {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    .header-column {
        background-color: lightgray;
    }
}
